@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #fa4f19;
  --color-primary-hover: #e34515;

  --color-focus-active: #a4c1e3;
  --color-selection: #ff9000;

  --color-default: #fdfbf9;
  --color-surface: #ffffff;
  --color-alt: #f3eeeb;

  --color-text-primary: #1e1a19;
  --color-text-secondary: #4a3f3c;
  --color-text-muted: #b69374;

  --color-input-border: #dad3ce;
  --color-border: #dad3ce;

  --color-hover-light: #f3eeeb;
  --color-toast: #fff8f3;

  --color-info: #a4c1e3;
  --color-error: #fa4f19;
  --color-warning: #ff9000;
  --color-success: #38a169;

  /* breakpoints */
  --breakpoint-xs: 350px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  /* font */
  --font-primary: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-primary);
  }
}

.side-shadow {
  box-shadow: 0px 2px 8px 0px rgba(0, 30, 136, 0.04);
}

.search-shadow {
  box-shadow: 0px 0px 4px 0px rgba(0, 30, 136, 0.08);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.border-line {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #432c2c 0%,
    rgba(80, 28, 28, 0) 100%
  );
}

.gradient-border {
  border: 2px solid transparent;
  border-image: linear-gradient(
      139.7deg,
      #ff9000 4.46%,
      #6344e7 55.5%,
      #fa4f19 106.54%
    )
    1;
}
